Source: vimpager
Section: text
Priority: optional
Maintainer: Rafael Kitover <rkitover@gmail.com>
Build-Depends: debhelper (>= 9), ash, pandoc, sharutils
Standards-Version: 3.9.8
Homepage: http://github.com/rkitover/vimpager
Vcs-Git: https://github.com/rkitover/vimpager.git
Vcs-Browser: https://github.com/rkitover/vimpager

Package: vimpager
Architecture: all
Depends: vim-nox | gvim | vim, ash, ${misc:Depends}
Recommends: sharutils, gawk
Description: pager using vim and less.vim
 Provides "vimpager", a pager that uses vim and less.vim to page files using
 less compatible keystrokes, with support for syntax highlighting in man pages
 and many other features.
 .
 Also provides "vimcat", which outputs files with vim syntax highlighting using
 ANSI escape codes.
