#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_auto_build:
	touch doctoc-warn-stamp
	dh_auto_build

override_dh_auto_install:
	touch doctoc-warn-stamp
	dh_auto_install -- PREFIX=/usr
	mv debian/vimpager/usr/share/doc/vimpager/ChangeLog_vimpager.yml debian/vimpager/usr/share/doc/vimpager/changelog

override_dh_compress:
	gzip -n9 debian/vimpager/usr/share/doc/vimpager/changelog
	dh_compress -X.md -X.yml
